@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Administrator"))
            {
                <li>
                    <a href="@Url.Action("AdminDashboard", "Admin")" class="text-center">Admin Dashboard <i class="fa fa-tachometer" aria-hidden="true"></i></a>
                </li>
            }
            <li>
                <a href="@Url.Action("Index", "Manage")" title="Manage" class="text-center">Account <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="text-center">Log off <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")" id="registerLink" class="text-center">Register <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
        <li><a href="@Url.Action("Login", "Account")" id="loginLink" class="text-center">Log in <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
}
