@using SimpleVoter.Core.Models
@using SimpleVoter.Core.ViewModels
@model SimpleVoter.Core.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<header class="main-header text-center">
    <h1 class="main-title">Login</h1>
    <p class="main-description">Get access to more features and discover new possibilities.</p>
</header>

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()

        <section class="mid-section mid-login-section">
            <div class="col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-1 no-padding">
                <fieldset class="left-login-fieldset">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group test">
                        <div class="col-md-offset-2 col-md-4">
                            <div class="remember-me">
                                @Html.LabelFor(m => m.RememberMe)
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group test">
                        <div class="col-md-4">
                            <input type="submit" value="Login" class="btn btn-custom btn-white login-main-button" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register", null, new { @class = "register-as-new-user" })
                    </p>
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "forgot-password" })
                    </p>
                </fieldset>
            </div>
            <div class="col-md-2 no-padding">
                <fieldset class="right-login-fieldset">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </fieldset>
            </div>
        </section>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}