@using Microsoft.Ajax.Utilities
@model SimpleVoter.Core.ViewModels.PollViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<header class="main-header text-center">
    <h1 class="main-title">Manage</h1>
    <p class="main-description">Change your account settings.</p>
    <div class="dashboard-buttons">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Public Polls", "ShowPublicPolls", "Polls", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("My Polls", "ShowUserPolls", "Polls", null, new { @class = "btn btn-custom btn-white danger-hover" })
    </div>
</header>

<section class="mid-section">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="btn-group-vertical manage-account-buttons">
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Create Password", "SetPassword", null, new { @class = "btn btn-default" })
            }
            @Html.ActionLink("Manage External Logins (" + Model.Logins.Count + ")", "ManageLogins", null, new { @class = "btn btn-default" })
            
            <button class="btn btn-default two-factor-trigger">
                Two Factor Authentication
            </button>
            <div class="two-factor-container">
                @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { id = "twofactor-form", @class = "form-horizontal btn btn-default", role = "form" }))
                {
                        @Html.AntiForgeryToken()
                        <text><input type="submit" value="Disable Email Authentication" /></text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { id = "twofactor-form", @class = "form-horizontal btn btn-default", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text><input type="submit" value="Enable Email Authentication" /></text>
                    }
                }
                @(Model.IsGoogleAuthenticatorEnabled
                  ? Html.ActionLink("Disable Google Authenticator", "DisableGoogleAuthenticator", null, new { @class = "btn btn-default" })
                  : Html.ActionLink("Configure Google Authenticator", "EnableGoogleAuthenticator", null, new { @class = "btn btn-default" }))
            </div>
            <button class="btn btn-default" data-toggle="modal" data-target="#deleteModal">Delete Account</button>

            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
            *@

            @*<dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        @:&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>*@
        </div>
    </div>
</section>

<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete account</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your user account? Account will be deleted permanently.</p>
            </div>
            <div class="modal-footer">
                <button id="account-delete-button" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
            @{
                var message = ViewBag.StatusMessage as string;

                if (!message.IsNullOrWhiteSpace())
                {
                    if (message.ToLower().Contains("error"))
                    {
                        @:toastr.error('@ViewBag.StatusMessage', 'Error');
                    }
                    else if (message.ToLower().Contains("linked"))
                    {
                        @:toastr.success('@ViewBag.StatusMessage');
                    }
                    else
                    {
                        @:toastr.warning('@ViewBag.StatusMessage');
                    }
                }
            }
        });

        $("#account-delete-button").on("click",
            function() {
                $.ajax({
                    url: '/Account/DeleteUserAccount',
                    type: 'POST',
                    success: function(data) {
                        if (data.success) {
                            sessionStorage.setItem('accountDeleted', 'true');
                            window.location.href = "/Home/Index";
                        } else {
                            toastr.error(data.responseText, 'Error!');
                        }
                    }
                });
            });

        $(".two-factor-trigger").on("click",
            function() {
                var twoFactorContainer = $('.two-factor-container');
                if (twoFactorContainer.css("display") == "none") {
                    twoFactorContainer.slideDown(400);
                    $(".two-factor-trigger").css("background-color", "#ddd");
                    $(".two-factor-trigger").css("border-right-color", "#8c8c8c");
                    $(".two-factor-trigger").css("border-left-color", "#8c8c8c");
                } else {
                    twoFactorContainer.slideUp(400);
                    $(".two-factor-trigger").css("background-color", "#fff");
                    $(".two-factor-trigger").css("border-right-color", "#0084b4");
                    $(".two-factor-trigger").css("border-left-color", "#0084b4");
                }
            });
    </script>
}
