@model SimpleVoter.Core.ViewModels.AccountViewModels.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

<header class="main-header text-center">
    <h1 class="main-title">Create Password</h1>
    <p class="main-description">Create Local Login.</p>
    <div class="dashboard-buttons">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Account", "Index", "Manage", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("My Polls", "ShowUserPolls", "Polls", null, new { @class = "btn btn-custom btn-white danger-hover" })
    </div>
</header>

<section class="mid-section">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <fieldset class="setpassword-fieldset">
            @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h4>Create Local Login</h4>
                <p class="text-info">
                    You do not have a local username/password for this site. Add a local
                    account so you can log in without an external login.
                </p>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Set password" class="btn btn-default" />
                    </div>
                </div>
            }
        </fieldset>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}