@model SimpleVoter.Core.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<header class="main-header text-center">
    <h1 class="main-title">Admin Dashboard</h1>
    <p class="main-description">Details of '@Model.UserName' user.</p>
    <div class="dashboard-buttons">
        @Html.ActionLink("Dashboard", "AdminDashboard", "Admin", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Users", "ShowUsers", "Admin", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Polls", "ShowAllPolls", "Polls", null, new { @class = "btn btn-custom btn-white danger-hover" })
    </div>
</header>

<section id="pollListSection">
    <div class="col-md-6 col-md-offset-3">
        <div class="user-info">
            <p><b>Id:</b> @Model.Id</p>
            <p><b>User name:</b> @Model.UserName</p>
            <p><b>Number of polls:</b> @Model.Polls.Count</p>
            <p><b>Email:</b> @Model.Email</p>
            <p><b>Email confirmed:</b> @Model.EmailConfirmed</p>
            <p><b>Phone:</b> @(Model.PhoneNumber ?? "none")</p>
            <p><b>Phone confirmed:</b> @Model.PhoneNumberConfirmed</p>
            <p><b>Two factor enabled:</b> @Model.TwoFactorEnabled</p>
            @if (Model.AccountLockExpirationDate.HasValue && Model.AccountLockExpirationDate.Value > DateTime.Now)
            {
                <p class="text-danger"><b>Block expiration date:</b> @Model.AccountLockExpirationDate</p>
            }
            else
            {
                <p class="text-success"><b>Account blocked:</b> False</p>
            }
            <div class="admin-buttons">
                @if (Model.AccountLockExpirationDate.HasValue && Model.AccountLockExpirationDate.Value > DateTime.Now)
                {
                    <button id="unblock-user-button" class="btn btn-custom btn-white danger-hover user-manage-button" data-toggle="modal">Unblock User</button>
                }
                else
                {
                    <button class="btn btn-custom btn-white error-hover user-manage-button" data-toggle="modal" data-target="#blockModal">Block User</button>
                }
                
                <button class="btn btn-custom btn-white error-hover user-manage-button" data-toggle="modal" data-target="#deleteModal">Delete User</button>
            </div>
        </div>

    </div>
</section>

<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete '@Model.UserName' account</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete '@Model.UserName' user account? Account will be deleted permanently.</p>
            </div>
            <div class="modal-footer">
                <button id="user-delete-button" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="blockModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Block '@Model.UserName' account</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="AccountLockExpirationDate" class="block-expiration-date">Block expiration date</label>
                    <input type="text" name="AccountLockExpirationDate" id="AccountLockExpirationDate" class="form-control" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd hh:mm")" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="block-user-button" type="button" class="btn btn-warning" data-dismiss="modal">Block</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#AccountLockExpirationDate').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });

            if (sessionStorage.userUnblocked == 'true') {
                sessionStorage.setItem('userUnblocked', 'false');
                toastr.success('User has been unblocked.', 'User unblocked!');
            }
        });
        

        $("#user-delete-button").on("click",
            function() {
                $.ajax({
                    url: '/Admin/DeleteUser',
                    type: 'POST',
                    data: { id: '@Model.Id' },
                    success: function(data) {
                        if (data.success) {
                            sessionStorage.setItem('userDeleted', 'true');
                            window.location.replace('@Url.Action("ShowUsers", "Admin")');
                        } else {
                            toastr.error(data.responseText, 'Error!');
                        }
                    }
                });
            });

        $("#unblock-user-button").on("click",
            function () {
                $.ajax({
                    url: '/Admin/UnblockUser',
                    type: 'POST',
                    data: { id: '@Model.Id' },
                    success: function(data) {
                        if (data.success) {
                            sessionStorage.setItem('userUnblocked', 'true');  
                            window.location.reload();
                        } else {
                            toastr.error(data.responseText, 'Error!');
                        }
                    }
                });
            });

        $("#block-user-button").on("click",
            function () {
                var newExpirationDate = $("#AccountLockExpirationDate").val();

                $.ajax({
                    url: '/Admin/BlockUser',
                    type: 'POST',
                    data: { id: '@Model.Id', expirationDate: newExpirationDate },
                    success: function(data) {
                        if (data.success) {
                            sessionStorage.setItem('blocked', 'true');  
                            window.location.reload();
                        } else {
                            toastr.error(data.responseText, 'Error!');
                        }
                    }
                });
            });
    </script>
}
