@model SimpleVoter.Core.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<header class="main-header text-center">
    <h1 class="main-title">Admin Dashboard</h1>
    <p class="main-description">Details of '@Model.UserName' user.</p>
    <div class="dashboard-buttons">
        @Html.ActionLink("Dashboard", "AdminDashboard", "Admin", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Users", "ShowUsers", "Admin", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Polls", "ShowAllPolls", "Polls", null, new { @class = "btn btn-custom btn-white danger-hover" })
    </div>
</header>

<section id="pollListSection">
    <div class="col-md-6 col-md-offset-3">
        <div class="user-info">
            <p><b>Id:</b> @Model.Id</p>
            <p><b>User name:</b> @Model.UserName</p>
            <p><b>Email:</b> @Model.Email</p>
            <p><b>Email confirmed:</b> @Model.EmailConfirmed</p>
            <p><b>Phone:</b> @(Model.PhoneNumber ?? "none")</p>
            <p><b>Phone confirmed:</b> @Model.PhoneNumberConfirmed</p>
            <p><b>Two factor enabled:</b> @Model.TwoFactorEnabled</p>
            <div class="admin-buttons">
                <button class="btn btn-custom btn-white error-hover" data-toggle="modal" data-target="#deleteModal">Block User</button>
                <button class="btn btn-custom btn-white error-hover" data-toggle="modal" data-target="#deleteModal">Delete User</button>
            </div>
        </div>

    </div>
</section>
