@model IEnumerable<SimpleVoter.Core.ViewModels.PollListViewModel>

<table id="pollTable" class="table table-responsive table-striped table-bordered">
    <tr>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.PollId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
    </tr>

    @foreach (var item in Model)
            {
        <tr id="@item.PollId">
            <td class="hidden-xs">
                @Html.DisplayFor(modelItem => item.PollId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
        </tr>
    }
</table>

<nav aria-label="pagination">
    <ul class="pager">
        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
        <li><input maxlength="3" type="text" class="pagination-box" /></li>
        <li class="max-page-number">/10</li>
        <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>